body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
.first-name{
    color: lightsalmon;
}
.last-name{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    text-align: justify;
}
.dream-area{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.detail-highlight{
    color: orange;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.experiences{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#first-box{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}
#second-box{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
}